 <%- include('partials/header.ejs') %>
 <body>
 <h1>Adding a new Author</h1>


    <form method="POST" action="/author/new">
      First Name:
      <input type="text" name="fName"><br>
      Last Name:
      <input type="text" name="lName"><br>
      Date of Birth:
      <input type="date" name="birthDate"><br>
      Date of Death:
      <input type="date" name="deathDate"><br>
      Sex:
      <input type="radio" name="sex" value="M"><label for="sex">M</label>
      <input type="radio" name="sex" value="F"><label for="sex">F</label><br><br>
      Profession:
      <input type="text" name="profession"><br>
      Country:
      <input type="text" name="country"><br>
      Portrait URL:
      <input type="text" name="portraitUrl" placeholder="ex. 'https://www.uploade.wikimedia.org/..."><br>
      Biography:
      <input type="text" name="biography"><br>
      <button>Add Author</button>
    </form>

    <% if (typeof message != "undefined"){ %>
  		 <h3><%=message%></h3>
    <% } %>

</body>
 <%- include('partials/footer.ejs') %>